<html lang="ko" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	layout:decorate="~{|${siteLayoutPath}|}"
	>
<th:block layout:fragment="content">

<link rel="stylesheet" href="/assets/css/board.css"><!-- 게시판css -->

<style>
#gnb .gnbw .logo a{
	background-color: transparent;
    background-image: url(/pages/kepco/img/logo-on.svg);
    width: 85px;
    height: 150px;
}
</style>
<!-- 게시판 검색 영역 -->
<div id="board_search">
	<div class="board_search_form text-center">
		<form id="board_search_form" action="" method="get">
			<input type="hidden" name="site" value="kepco"/>
			 
			<input type="hidden" name="mn" th:value="${req?.mn}"/> 
			<input type="hidden" name="boardId" th:value="${vo?.boardId}"/> 
			<input type="hidden" name="pageNum" th:value="${req?.pageNum}"/> 
			<div class="input_box select float-none input_category">
				<select name="scKey" title="검색분류" id="board_select_label" class="select_type">
					<option value="subject" th:selected="subject == ${req.scKey}">제목</option>
					<option value="content" th:selected="content == ${req.scKey}">내용</option>
					<option value="writer_name" th:selected="writer_name == ${req.scKey}">작성자</option>
				</select>
			</div>
			<div class="input_box search float-none">
			  <input type="text" title="검색어" name="scWord" id="search_keyword" class="search_keyword input_type" th:value="${req?.scWord}"/> 
			  <input type="submit" value="검색" title="검색" class="btn_serach">
			</div>
		</form>
	</div>
</div>
<!-- //게시판 검색 영역 -->

<div id="list_total_count">
	전체 : <strong th:text="${listTotal}"></strong>,
	페이지 : <strong id="page_num" th:text="${req?.pageNum}"></strong>/<span data-th-text="${#numbers.formatInteger(listTotal/15, 2, 'COMMA')}+1"></span>
</div>

<div id="board_list">
	<table>
		<caption>  리스트 : 공지사항 게시판의 번호, 제목,작성자, 등록일, 첨부파일, 조회 리스트입니다. </caption>
		<thead>
			<tr>
				<th scope="col" class="t_num">번호</th>
				<th scope="col" class="">과정명</th>
				<th scope="col" class="">기수</th>
				<th scope="col" class="">정원</th>
				<th scope="col" class="">신청기간</th>
				<th scope="col" class="">신청</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="list : ${list}">
				<td class="t_num" th:text="${list.rn}"></td>
				<td class="">
					<a th:href="@{/lms/edu/detail/view/?site=kepco&(mn = ${req?.mn}, detailIdx=${list.detailIdx}, pageNum=${req?.pageNum}, scKey=${req.scKey}, scWord=${req.scWord})}"
					th:text="${list.eduTitle}">
					</a>
				</td>
				<td class="" th:text="${list.eduNumeral}"></td>
				<td class="">[[${list.eduRegCnt}]] / [[${list.eduLimitCnt}]]</td>
				<td class="">[[${list.eduAcceptBgnDate}]] [[${list.eduAcceptBgnTime}]]:00 ~<br/> [[${list.eduAcceptEndDate}]] [[${list.eduAcceptEndTime}]]:00</td>
				<td class="">신청</td>
			</tr>
			
			<tr th:if="${#lists.isEmpty(list)}">
				<td  colspan="4">데이터가 존재하지 않습니다.</td>
			</tr>
		</tbody>
	</table>
	<div id="paginate_complex" class="mt20 clear" th:if="${!#lists.isEmpty(list)}">
		<p class="btn_page">
			<a class="first_back" th:href="@{/lms/edu/detail/list/?site=kepco&(mn = ${req?.mn}, pageNum=1, scKey=${req.scKey}, scWord=${req.scWord})}">
				<span class="hidden">처음페이지</span>
			</a>
			<a th:if="${paging.startPage-1} != 0" class="prev_back" th:href="@{/lms/edu/detail/list/?site=kepco&(mn = ${req?.mn}, pageNum=${paging.startPage-1}, scKey=${req.scKey}, scWord=${req.scWord})}">
				<span class="hidden">이전페이지</span>
			</a>
			<a th:attr="class=${req?.pageNum} == ${num} ? 'on' : ''"
			th:href="@{/lms/edu/detail/list/?site=kepco&(mn = ${req?.mn}, pageNum=${num}, scKey=${req.scKey}, scWord=${req.scWord})}" 
			th:each="num : ${#numbers.sequence(paging.startPage,paging.endPage)}" th:text="${num}">
			</a>
			<a th:if="${paging.endPage+1} <= ${#numbers.formatInteger(listTotal/15, 2, 'COMMA')}+1" class="next_back" th:href="@{/lms/edu/detail/list/?site=kepco&(mn = ${req?.mn}, pageNum=${paging.endPage+1}, scKey=${req.scKey}, scWord=${req.scWord})}">
				<span class="hidden">다음페이지</span>
			</a>
			<a class="last_back" th:href="@{/lms/edu/detail/list/?site=kepco&(mn = ${req?.mn}, pageNum=${#numbers.formatInteger(listTotal/15, 2, 'COMMA')}+1, scKey=${req.scKey}, scWord=${req.scWord})}">
				<span class="hidden">마지막페이지</span>
			</a>
		</p>
	</div>
</div>

</body>
</html>
