<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<link href="/assets/css/nestable2.css" type="text/css" rel="stylesheet">
<script src="/assets/js/nestable2.js"></script>
<script src="/assets/js/dropzone.js"></script>
<script src="/assets/js/common.js"></script>
<link rel="stylesheet" href="/assets/css/dropzone.css">
<link rel="stylesheet" href="/assets/css/dropzone.ext.css">
<style>
	.nested-list-content input {
		width: 95% !important;
		border: 0 none !important;
	}
</style>

<script>
	var depth = $("input[name='depth']").val();
	var frmForm = "#frmForm" + depth;
	var $frm = $(frmForm); 
	var main_tabs = "#main_tabs" + depth;
	var edu_module = "edu_module" + depth;
	
	$(function () {
	
		$("select", frmForm).formSelect();
		$(main_tabs).tabs();
		
		if ($('#eduIdx').val() != '') {
			packList();
			// 설명문 제거
			document.querySelector(".text_cnt_box").style.display = 'none';
		}
		
		// 파일
		var fileTarget = $('.file-upload-input');
		fileTarget.on('change', function(){
			if(window.FileReader){
				var filename = $(this)[0].files[0].name;
			} else {
				var filename = $(this).val().split('/').pop().split('\\').pop();
			}	
			$(this).siblings('.select-file-name-box').val(filename);
		});
		
		Dropzone.autoDiscover = false;
		
		var cf_ext_file = 'zip|rar|doc|hwp|pdf|ppt|xls|pptx|docx|xlsx|txt|psd|pptm';
		var cf_ext_image = 'gif|jpg|jpeg|png|bmp';
		var cf_ext_multimedia = 'asx|asf|wmv|wma|mpg|mpeg|mov|avi|swf|mp4';
		var cf_file_cnt = '1';
		
		String.prototype.replaceAll = function(org, dest) {
			return this.split(org).join(dest);
		}
		
		$(".file-dropzone").on('dragover', handleDragEnter);
		$(".file-dropzone").on('dragleave', handleDragLeave);
		$(".file-dropzone").on('drop', handleDragLeave);
		
		
		function handleDragEnter(e) {
			this.classList.add('drag-over');
		}

		function handleDragLeave(e) {
			this.classList.remove('drag-over');
		}
		
		var c = 0; 
		var d = 0; 
		var e = 0;
		
		var previewNode = document.querySelector("#template");
		previewNode.id = "";
		var previewTemplate = previewNode.parentNode.innerHTML;
		previewNode.parentNode.removeChild(previewNode);
		
		
		$('#fileDropzone').dropzone({
			url : '/admin/lms/edu/file_save',
			uploadMultiple : true,
			maxFilesize : 1073741824,
			thumbnailWidth: 180,
		    thumbnailHeight: 120,
			parallelUploads : 5,
			autoProcessQueue: false,
			paramName:"fileSaveName",
			previewsContainer: "#previews", // Define the container to 
			maxFiles : 1,
			addRemoveLinks : true,
			acceptedFiles: '.exe',
			success: function(data, xhr) {
				if(xhr.data.fail == 1){
					M.toast({
						html: '파일 확장자를 확인해주세요.',
						classes: 'red darken-2',
						displayLength: 2000
					});
					return false;
				}else if(xhr.data.fail == 2){
					M.toast({
						html: '파일 크기를 확인해주세요.',
						classes: 'red darken-2',
						displayLength: 2000
					});
					return false;
				}
				
				myDropzone = this;
				c++;
				if (c == $('#upload_count').val()) { //성공 메시지 출력 후 이동
					c = 0;
					M.toast({
						html: '정상적으로 처리되었습니다.',
						displayLength: 2000
					});
					if(depth > 1){//modal인 경우
						$("#pop_modal4").modal('close');
						get_module_list();
					}else{
						$('#dataTable').DataTable().ajax.reload(dataTableInit, false);
			       		$('.sidenav').sidenav('close')
					};
					
				}			
			},
			accept: function(file, done) {
			    done();
				myDropzone = this;
				var myDropzone = this;
				var i = 0;
				
				//파일 중복검사
				for(var j = 0; j < myDropzone.files.length; j++){
					if(file.name == myDropzone.files[j].name){
						i++;
						if(i > 1){
							alert(''+myDropzone.files[j].name+'는 중복파일이름입니다. 이름을 바꿔서 등록해주시기바랍니다.');
							myDropzone.removeFile(myDropzone.files[j]);
							myDropzone.files.splice(j, 1);
						}
					}
				}
				//최대 갯수제한 경고창
				if(onlyNumber(myDropzone.files.length)-1 >= onlyNumber(cf_file_cnt)){
					d++;
					if( d == 1){
						alert('최대 : ' + cf_file_cnt +'개까지 업로드가 가능합니다.');
					}
					myDropzone.removeFile(file);

				}
			},
			init : function() {
				myDropzone = this;
				_this = this;
				//파일이 추가 될 때
				//파일 확장자, 용량 검사
				this.on("addedfile", function(file) {
					var acceptCheck = 0;
					myDropzone.options.acceptedFiles.split(',').forEach(function(idx){
						if(file.name.indexOf(idx) > 0){
							acceptCheck = 1;
						}
					});
					if(acceptCheck == 0){
						alert('파일 확장자를 확인해주세요.');
						myDropzone.removeFile(file);
					}else if(myDropzone.options.maxFilesize < file.size){
						alert('파일 크기를 확인해주세요.');
						myDropzone.removeFile(file);
					}
				});
				var submitButton = document.querySelector('#btn-upload-file');
					submitButton.addEventListener("click", function(){
					$('#upload_count').val(myDropzone.files.length);
					$(frmForm).ajaxForm({
				        dataType: 'json',
						success: function (data) {
				        	if($("#eduIdx").val() == ""){
				        		$("#eduIdx").val(data.data.eduVo.eduIdx);
				        	}
				            if (data.status == 200) { //성공 메시지 출력 후 이동
				            	myDropzone.processQueue(); //업로드
								myDropzone.removeAllFiles(); //업로드한 파일 목록에서 제거
								if(0 == $('#upload_count').val()) {
									if(depth > 1){//modal인 경우
										$("#pop_modal2").modal('close');
										get_module_list();
										$(".text_cnt_box").css("display", "none");
										if ($('#eduIdx').val() != '') { //생성 이후 저장
											// edu detail form 갱신
											$("#eduIdx").val(data.data.eduVo.eduIdx);
											$("#eduTitle").val(data.data.eduVo.eduTitle);
											$("#pop_modal").modal('close');
											$("#pop_modal2").modal('close');
											
										} else {//처음 저장 누른 경우 
											$("input[name='eduIdx']", $frm).val(data.data.eduVo.eduIdx);
											$("#eduIdx").val(data.data.eduVo.eduIdx);
											$("#eduTitle").val(data.data.eduVo.eduTitle);
											packList(); // 모듈 리스트 불러오기
											$(main_tabs).tabs('select', edu_module);
										}
									} else {
										$('#dataTable').DataTable().ajax.reload(dataTableInit, false);
										$('.sidenav').sidenav('close');
									}
									M.toast({
										html: '정상적으로 처리되었습니다.',
										displayLength: 2000
									});
									//get_edu_list(); // 첫번째 modal 콘텐츠 리스트 갱신
								}
				            } else if (data.status == 402) {
				                $.each(data.message, function(k, v) {
				                    $('#' + k).focus();
				                    return false;
				                });
				            } else {
				            	 alert('네트워크 및 시스템 에러');   
				            }
			
						},
						error: function (xhr) {
							if(typeof xhr.responseJSON.message != "undefined") {
								toast(xhr.responseJSON.message);
							}else{
								toast('시스템 오류로 처리할 수 없습니다.');
							}
						}
					});
				});
				var data = '';
				//값 넘길때 form값 처리
				this.on("sending", function(file, xhr, formData) {
					e++; //값을 한번 처리
					if(e == 1){
						$.each( $(frmForm).serializeArray(), function(key, val){
							formData.append(val['name'], val['value']);
						});
					}
	              });

			   //최대 갯수제한 파일제거
			   this.on("maxfilesexceeded", function (file) {
					myDropzone = this;
					var myDropzone = this;
					var count = myDropzone.options.maxFiles;
					myDropzone.removeFile(file);
				});

				//삭제할때 처리
				this.on("removedfile", function (file) {
					var d = 0;
				}); 
				 this.on("complete", function (file) {
					myDropzone = this;
					var myDropzone = this;
					myDropzone.removeFile(file);
				});
			  },
		});
		
		
		// 콘텐츠 파일 추가
		var fileInput = document.getElementById("file_1");
		
		fileInput.onchange = () => {
			var selectedFile = [...fileInput.files];

			selectedFile.forEach(row => {
				var fileLeng = row.name.length;
				var fileDot = row.name.lastIndexOf(".");
				var fileType = row.name.substring(fileDot+1, fileLeng);
				
				if(fileType != "exe"){
					alert("exe파일만 첨부할 수 있습니다.");
					fileInput.value = "";
					return false;
				}
				
			});
				
		}
		
	});
	
// 	function delete_attachment(arg){
// 		var id = "#"+arg;
		
// 		if(confirm("첨부파일을 삭제하시겠습니까?\n저장시 적용됩니다.")){
// 			$(".select-file-btn").removeAttr("disabled");
// 			$(".select-file-name-box").val("");
// 			$("#attachmentFileName").remove("#attachmentFileName");
// 			$("#attachmentFileOrigin").remove("#attachmentFileOrigin");
// 			$(id).siblings("button").css("display","none");
// 			$(id).siblings(".btn").css("display","none");
// 		}
// 	}
	//첨부파일 삭제
	function fileDelete(eduIdx) {
		if (!eduIdx) {
			toast('잘못된 접근입니다.');
			return false;
		}
		$.confirm({
			theme: 'supervan',
			title: '첨부파일 삭제',
			content: '한번 삭제한 자료는 복구가 불가능합니다. <br /><br /> 삭제 하시겠습니까?',
			buttons: {
				확인: function () {
					$.ajax({
						url: gblAdminPath + '/lms/edu/fileDelete',
						type: 'get',
						data: {
							'eduIdx': eduIdx
						},
						dataType: 'json',
					}).done(function (data) {
						if (data.code == 0) {
							$('.edu-uploaded-file').empty();
							toast("정상적으로 처리되었습니다.");
						}
						else {
							toast(data.message);
						}
					}).fail(function () {
						toast('시스템 오류로 처리할 수 없습니다.');
					});
				},
				취소: function () {
				}
			}
		});
	}	
	function packList() {
		$.ajax({
			url: gblAdminPath + '/lms/edu/pack/list?' + $frm.serialize(),
			type: 'GET',
			dataType: 'html',
		}).done(function (data) {
			$('#moduleList').html(data);
		}).fail(function () {
			toast('네트워크 또는 시스템 장애입니다.', 4000);
		});
	}

	function set_member_list() {

		$.ajax({
			url: gblAdminPath + '/lms/edu/memberList?scDepth=1',
			type: 'get',
			dataType: 'html',
		}).done(function (data) {
			$('#pop_modal3').html(data);

			var staff_modal = $("#pop_modal3").modal();
			staff_modal.modal('open');
			$('#pop_modal3').css({'height': '80%', 'width': '50%', 'overflow-y': 'scroll'});

		}).fail(function () {
			toast('네트워크 또는 시스템 장애입니다.', 4000);
		});
		return false;
	}

	function set_module_list(eduIdx) {

		if (eduIdx == null) {
			alert("저장 후 추가가능합니다.");
			return false;
		}

		$.ajax({
			url: gblAdminPath + '/lms/edu/moduleList?eduIdx=' + eduIdx,
			type: 'get',
			dataType: 'html',
		}).done(function (data) {
			$('#pop_modal3').html(data);

			var staff_modal = $("#pop_modal3").modal();
			staff_modal.modal('open');
			$('#pop_modal3').css({'height': '80%', 'width': '50%', 'overflow-y': 'scroll'});

		}).fail(function () {
			toast('네트워크 또는 시스템 장애입니다.', 4000);
		});
		return false;
	}

	// 삭제
	function dataDelete() {
		var eduIdx = $("[name='eduIdx']", frmForm).val();

		if (!eduIdx) {
			toast('잘못된 접근입니다.');
			return false;
		}
		$.confirm({
			theme: 'supervan',
			title: '콘텐츠 삭제',
			content: '한번 삭제한 자료는 복구가 불가능합니다. <br /><br /> 삭제 하시겠습니까?',
			buttons: {
				확인: function () {
					$.ajax({
						url: gblAdminPath + '/lms/edu/delete',
						type: 'get',
						data: {
							'eduIdx': eduIdx
						},
						dataType: 'json',
					}).done(function (data) {
						if (data.code == 0) {
							toast("정상적으로 처리되었습니다.");
							if (depth > 1) {
								$("#pop_modal").modal('close');
							} else {
								$('#dataTable').DataTable().ajax.reload(dataTableInit, false);
								$('.sidenav').sidenav('close');
							}
						}
						else {
							toast(data.message);
						}
					}).fail(function (xhr) {
						if(typeof xhr.responseJSON.message != "undefined") {
							toast(xhr.responseJSON.message);
						}else{
							toast('시스템 오류로 처리할 수 없습니다.');
						}
					});
				},
				취소: function () {
				}
			}
		});
	}
	/*
	function save() {
		
		if ($("input[name='eduTitle']", $frm).val() == "") {
			toast("과정명은 필수입력 입니다.");
			$("input[name='eduTitle']", $frm).focus();
			return;
		}

		$.ajax({
			type: "post",
			url: $frm.attr("action"),
			data: $frm.serialize(),
			contentType: "application/x-www-form-urlencoded",
			dataType: "json",
			beforeSend: function (xhr) {
				xhr.setRequestHeader("X-CSRF-TOKEN", $("input[name='_csrf']", $frm).val());
			},
			success: function (data) {
				if (depth > 1) {
					$(".text_cnt_box").css("display", "none");

					if ($('#eduIdx').val() != '') { //생성 이후 저장
						// edu detail form 갱신
						$("#eduIdx").val(data.data.eduVo.eduIdx);
						$("#eduTitle").val(data.data.eduVo.eduTitle);
						$("#pop_modal").modal('close');
						$("#pop_modal2").modal('close');
						
						
					} else {//처음 저장 누른 경우 
						$("input[name='eduIdx']", $frm).val(data.data.eduVo.eduIdx);
						$("#eduIdx").val(data.data.eduVo.eduIdx);
						$("#eduTitle").val(data.data.eduVo.eduTitle);
						packList(); // 모듈 리스트 불러오기
						$(main_tabs).tabs('select', edu_module);
					}

				} else {
					$('#dataTable').DataTable().ajax.reload(dataTableInit, false);
					$('.sidenav').sidenav('close');
				}

				toast("정상적으로 처리되었습니다.");
				//get_edu_list(); // 첫번째 modal 콘텐츠 리스트 갱신

			},
			error: function (data) {
				toast('네트워크 또는 시스템 장애입니다.', 4000);
			}
		});
	
	}
	*/
</script>
<form th:id="frmForm+${depth}" method="post"
	th:action="@{/{adminPath}/lms/edu/save(adminPath=${@environment.getProperty('global.admin-path')})}"
	enctype="multipart/form-data">
	<input type="hidden" name="upload_count" id="upload_count" value="">
	<div class="top pop-title">
		<div class="row pd_box2">
			<div class="col s12">
				<a th:if="${depth > 1}" onclick="modal_close('#pop_modal2');"
					class="btn grey lighten-1 waves-effect waves-light"><i class="material-icons">clear</i></a>
				<a th:unless="${depth > 1}" onclick="side_close('#side_view');"
					class="btn grey lighten-1 waves-effect waves-light"><i class="material-icons">clear</i></a>
				<div class="float_r">
					<button class="btn waves-effect z-depth-0 red lighten-1 left" type="button"
						th:if="${!#strings.isEmpty(vo?.eduIdx)}" th:onclick="dataDelete();">삭제<i
							class="material-icons left">delete</i></button>
					<button id="btn-upload-file" class="btn waves-effect waves-light  blue-grey darken-4 z-depth-0">저장 <i
							class="material-icons left">check</i></button>
				</div>
			</div>
		</div>
	</div>
	<div class="row ">
		<ul th:id="main_tabs+${depth}" class="tabs">
			<li class="tab col s2"><a th:href="@{'#default_info' + ${depth}}">정보</a></li>
			<li class="tab col s2"><a th:href="@{'#edu_module' + ${depth}}">모듈</a></li>
			<li class="tab col s2"><a th:href="@{'#attachment_file' + ${depth}}">첨부파일</a></li>
		</ul>
	</div>
	<div class="row pd_box">
		<input type="hidden" name="eduIdx" id="eduIdx" th:value="${vo?.eduIdx}" />
		<input type="hidden" name="depth" id="depth" th:value="${depth}" />
		<div class="row">
			<div class="input-field col s7">
				<input type="text" name="eduTitle" id="eduTitle" th:value="${vo?.eduTitle}" />
				<label for="eduTitle" class="req">콘텐츠명</label>
			</div>
			<div class="input-field col s3" th:if="${session.memberRole == 'SUPER'}">
				<label for="memberNm" class="req">교수자</label>
				<input type="hidden" name="memberIdx" id="memberIdx"
					th:value="${vo?.memberIdx != null ? vo?.memberIdx : session?.memberIdx}" />
				<input type="text" name="memberNm" id="memberNm"
					th:value="${vo?.memberIdx != null ? vo?.memberNm : session?.memberName}"
					th:onclick="set_member_list(); return false;" readonly="readonly" />
				<a class="btn cyan accent-4 z-depth-0 waves-effect waves-light"
					onclick="set_member_list(); return false;"><i class="material-icons">search</i></a>
			</div>
			<div class="input-field col s3" th:if="${session.memberRole != 'SUPER'}">
				<label for="memberNm" class="req">교수자</label>
				<input type="text" name="memberNm" id="memberNm"
					th:value="${vo?.memberIdx != null ? vo?.memberNm : session?.memberName}" readonly="readonly" />
				<input type="hidden" name="memberIdx" id="memberIdx"
					th:value="${vo?.memberIdx != null ? vo?.memberIdx : session?.memberIdx}" />
			</div>
			<div class="input-field col s2" th:if="${session.memberRole == 'SUPER'}">
				<label for="eduState">승인상태</label>
				<select name="eduState" id="eduState">
					<option value="1" th:selected="${vo?.eduState} == '1'">승인대기</option>
					<option value="2" th:selected="${vo?.eduState} == '2'">승인완료</option>
					<option value="3" th:selected="${vo?.eduState} == '3'">승인반려</option>
					<option value="4" th:selected="${vo?.eduState} == '4'">승인취소</option>
				</select>

			</div>
			<div class="input-field col s2" th:if="${session.memberRole != 'SUPER'}">
				<input name="eduState" type="hidden" th:value="${vo?.eduState}" />
				<label for="eduState">승인상태</label>
				<th:block th:switch="${vo?.eduState}">
					<span th:case="1">승인대기</span>
					<span th:case="2">승인완료</span>
					<span th:case="3">승인반려</span>
					<span th:case="4">승인취소</span>
				</th:block>
			</div>
		</div>

		<div class="row" th:id="default_info+${depth}">
			<div class="row">
				<label for="">훈련분야</label>
				<div class="col s12 check_list_box">
					<th:block th:each="category : ${categoryList}">
						<label th:for="|${category?.categoryNm}${category?.categoryIdx}|">
							<input type="radio" name="categoryIdx" th:id="|${category?.categoryNm}${category?.categoryIdx}|"
								th:value="${category?.categoryIdx}" th:checked="${vo?.categoryIdx} == ${category?.categoryIdx}"
								th:txet="${category?.categoryNm}">
							<span th:text="${category?.categoryNm}"></span>&nbsp;
						</label>
					</th:block>
				</div>
			</div>

			<div class="row">
				<div class="input-field col s9">
					<input type="text" name="eduKeyword" th:value="${vo?.eduKeyword}" />
					<label for="eduKeyword" class="">훈련키워드(쉼표로 구분)</label>
				</div>

				<label for="">훈련구분</label>
				<div class="col s3 check_list_box">
					<label for="eduType1">
						<input type="radio" name="eduType" id="eduType1" value="1" th:checked="${vo?.eduType eq '1'}">
						<span>개인</span>
					</label>
					<label for="eduType2">
						<input type="radio" name="eduType" id="eduType2" value="2" th:checked="${vo?.eduType eq '2'}">
						<span>협동</span>
					</label>
				</div>

			</div>
		</div>
		<div th:id="edu_module+${depth}" class="row left mb0" style=" width: 100%;">
			<div class="input-field mb0">
				<label for="">모듈</label>
				<span class="text_cnt_box"><i class="material-icons small"
						style="margin-bottom:-2px; margin-right:10px;">info</i>콘텐츠 등록 후, 모듈을 등록할 수 있습니다.</span>
			</div>
			<div id="moduleList" class="col s12 pr0">
			</div>
		</div>
		
		<div class="row upload_wrap" th:id="attachment_file+${depth}">
				<div class="input-field file-upload">
					<label>파일</label>
					
					<div class="file_info">
						 <div class="dropzone" id="fileDropzone">
						</div>
						
						<div class="table table-striped files" id="previews">
							<div id="template" class="file-row dz-image-preview">
							   
							</div>
						</div>
					</div>
				</div>
				<span class="disc f_alert">
					exe 확장자 파일만 업로드 가능. 업로드 용량은 1GB 이하
					<!-- 최대 5개 파일 업로드 가능. 전체 업로드 용량은 50MB 이하<br /> -->
					<!-- 파일설명은 웹표준 및 웹접근성에 의해 입력하는 것을 권장합니다. -->
				</span>
				<div class="row">
					<div class="input-field file-upload edu-uploaded-file">
						<!-- <label class="select-file-btn btn" for="file_1" th:disabled="${!#strings.isEmpty(vo?.attachmentFileOrigin)}">파일선택</label> -->
						<input class="select-file-name-box" type="text" th:value="${vo?.attachmentFileOrigin}" disabled>
						<input id="file_1" name="file" type="hidden" class="" value="">
						<a class="btn" th:if="${!#strings.isEmpty(vo?.attachmentFileOrigin)}" th:href="|/admin/lms/edu/download?eduIdx=${vo?.eduIdx}|" style="padding: 0 5px;">다운로드</a>
						<button th:if="${!#strings.isEmpty(vo?.attachmentFileOrigin)}" class="waves-effect waves-light btn red" type="button" th:onclick="fileDelete('[[${vo?.eduIdx}]]')">삭제</button>
						
						<th:block th:if="${!#strings.isEmpty(vo?.attachmentFileOrigin)}">
							<input type="hidden" id="attachmentFileName" name="attachmentFileName" th:value="${vo?.attachmentFileName}">
							<input type="hidden" id="attachmentFileOrigin" name="attachmentFileOrigin" th:value="${vo?.attachmentFileOrigin}">
						</th:block>
					</div>
				</div>
			</div>

	</div>
</form>
</html>