<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>

<script src="/assets/js/dropzone.js"></script>
<script src="/assets/js/common.js"></script>
<link rel="stylesheet" href="/assets/css/dropzone.css">
<link rel="stylesheet" href="/assets/css/dropzone.ext.css">

<script>
	$(function() {
		
	$('#main_tabs').tabs();
		// 파일
		var fileTarget = $('.file-upload-input');
		fileTarget.on('change', function(){
			if(window.FileReader){
				var filename = $(this)[0].files[0].name;
			} else {
				var filename = $(this).val().split('/').pop().split('\\').pop();
			}	
			$(this).siblings('.select-file-name-box').val(filename);
		});
	});
	
// 	function delete_file(arg){
// 		var id = "#"+arg;
		
// 		if(confirm("첨부파일을 삭제하시겠습니까?\n저장시 적용됩니다.")){
// 			//$(".select-file-btn").removeAttr("disabled");
// 			$(".select-file-name-box").val("");
// 			$("#contentFileName").remove("#contentFileName");
// 			$("#contentFileOrigin").remove("#contentFileOrigin");
// 			$(id).siblings("button").css("display","none");
// 			$(id).siblings(".btn").css("display","none");
// 		}
// 	}

	//첨부파일 삭제
	function fileDelete(contentIdx) {
		if (!contentIdx) {
			toast('잘못된 접근입니다.');
			return false;
		}
		$.confirm({
			theme: 'supervan',
			title: '첨부파일 삭제',
			content: '한번 삭제한 자료는 복구가 불가능합니다. <br /><br /> 삭제 하시겠습니까?',
			buttons: {
				확인: function () {
					$.ajax({
						url: gblAdminPath + '/lms/vod/content/fileDelete',
						type: 'get',
						data: {
							'contentIdx': contentIdx
						},
						dataType: 'json',
					}).done(function (data) {
						if (data.code == 0) {
							$('.vod-uploaded-file').empty();
							toast("정상적으로 처리되었습니다.");
						}
						else {
							toast(data.message);
						}
					}).fail(function () {
						toast('시스템 오류로 처리할 수 없습니다.');
					});
				},
				취소: function () {
				}
			}
		});
	}	
</script>

	<form id="frmForm" method="post" th:action="@{/{adminPath}/lms/vod/content/save(adminPath=${@environment.getProperty('global.admin-path')},${_csrf.parameterName}=${_csrf.token})}" enctype="multipart/form-data">
		<input type="hidden" name="upload_count" id="upload_count" value="">
		<div class="top pop-title">
			<div class="row pd_box2">
				<div class="col s12">
					<a onclick="side_close('#side_view');" class="btn grey lighten-1 waves-effect waves-light" name="action"><i class="material-icons">clear</i></a>
					<div class="float_r">
						<button id="btn-upload-file" class="btn waves-effect waves-light  blue-grey darken-4 z-depth-0" type="submit">저장 <i class="material-icons left">check</i></button>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<ul id="main_tabs" class="tabs">
				<li class="tab col s2"><a href="#default_info">정보</a></li>
				<li class="tab col s2"><a href="#vod_schedule">영상</a></li>
			</ul>
		</div>
		
		<div id="content" class="row modal_scroll pd_box">
			<div class="border_view_con">
				<input type="hidden" name="contentIdx" id="contentIdx" th:value="${vo?.contentIdx}" />
				<div class="row">
					<div class="input-field col s9">
						<input type="text" name="contentTitle" id="contentTitle" th:value="${vo?.contentTitle}" />
						<label for="contentTitle" class="req">영상콘텐츠명</label>
					</div>
					<div class="input-field col s3">
						<label>사용여부</label>
						<div class="col s12 check_list_box">
							<label for="useYn">
								<input type="checkbox" id="useYn" name="useYn" value="y" th:checked="${vo?.useYn == 'y'}" />
								<span>사용</span>
							</label>
						</div>
					</div>
				</div>
				<div id="default_info" class="row">
					<div class="row">
						<div class="input-field col s12 m8 l8 xl9">
							<input type="text" name="contentDesc" id="contentDesc" th:value="${vo?.contentDesc}" />
							<label for="contentDesc" class="">설명</label>
						</div>
					</div>
					<div class="row">
						<div class="input-field col s3">
							<input type="number" name="contentTime" id="contentTime" th:value="${vo?.contentTime}" style="text-align: right;"/>
							<label for="contentTime" class="req">영상시간(분)</label>
						</div>
						<div class="input-field col s3">
							<input type="number" name="studyTime" id="studyTime" th:value="${vo?.studyTime}" style="text-align: right;"/>
							<label for="studyTime" class="req">학습시간(분)</label>
						</div>
					</div>
					<div class="row">
						<div class="col s12">
							<label>훈련분야</label>
								<div class="input-group">
									<p th:each="category : ${categoryList}" >
										<label th:for="|${category?.categoryNm}${category?.vodCategoryIdx}|" style="float:left"> 
												<input type="radio" name="vodCategoryIdx" th:id="|${category?.categoryNm}${category?.vodCategoryIdx}|"
													th:value="${category?.vodCategoryIdx}" th:checked="${vo?.vodCategoryIdx} == ${category?.vodCategoryIdx}"
													th:txet="${category?.categoryNm}">
												<span th:text="${category?.categoryNm}"></span>
										</label>
									</p>
								</div>
						</div>
					</div>
					<div class="row">
						<div class="input-field col s6">
							<input type="text" th:value="${vo?.insertNm}" readonly="readonly" />
							<label class="">등록자</label>
						</div>
						<div class="input-field col s6">
							<input type="text" th:value="${vo?.updateNm}" readonly="readonly" />
							<label class="">수정자</label>
						</div>
					</div>
					<div class="row">
						<div class="input-field col s6">
							<input type="text" id="insertDate" th:value="${vo?.insertDate}" readonly="readonly" />
							<label class="">등록일시</label>
						</div>
						<div class="input-field col s6">
							<input type="text" id="updateDate" th:value="${vo?.updateDate}" readonly="readonly" />
							<label class="">수정일시</label>
						</div>
					</div>
				</div>
				<div id="vod_schedule" class="row">
					<div class="row">
						<div class="input-field file-upload">
							<label>파일</label>
							
							<div class="file_info">
								<div class="dropzone" id="fileDropzone">
								</div>
								
								<div class="table table-striped files" id="previews">
									<div id="template" class="file-row dz-image-preview">
									
									</div>
								</div>
							</div>
						</div>
						<span class="disc f_alert">
							동영상 (asx, asf, wmv, wma, mpg, mpeg, mov, avi, swf, mp4) 확장자 파일만 업로드 가능. 업로드 용량은 1GB 이하
						</span>
						<div class="row">
							<div class="input-field file-upload vod-uploaded-file">
								<!-- <label class="select-file-btn btn" for="file_1" th:disabled="${!#strings.isEmpty(vo?.contentFileOrigin)}">파일선택</label> -->
								<input class="select-file-name-box" type="text" th:value="${vo?.contentFileOrigin}" disabled>
								<input id="file_1" name="file" type="hidden" class="" value="">
								<a class="btn" th:if="${!#strings.isEmpty(vo?.contentFileOrigin)}" th:href="|/admin/lms/vod/content/download?fileOrigin=${vo?.contentFileOrigin}&fileName=${vo?.contentFileName}|" style="padding: 0 5px;">다운로드</a>
								<button th:if="${!#strings.isEmpty(vo?.contentFileOrigin)}" class="waves-effect waves-light btn red" type="button" th:onclick="fileDelete('[[${vo?.contentIdx}]]')">삭제</button>
								
								<th:block th:if="${!#strings.isEmpty(vo?.contentFileOrigin)}">
									<input type="hidden" id="contentFileName" name="contentFileName" th:value="${vo?.contentFileName}">
									<input type="hidden" id="contentFileOrigin" name="contentFileOrigin" th:value="${vo?.contentFileOrigin}">
								</th:block>
							</div>
							</div>
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</form>

<script>
	$(function() {
		$("select", "#frmForm").formSelect();
		
		$("#frmForm").submit(function(e) {
			if($("input[name='contentTitle']").val() == "") {
				M.toast({
					html: '영상콘텐츠명은 필수입력 입니다.',
					displayLength: 2000
				});
				$("input[name='contentTitle']").focus();
				return false;
			}
			if($("input[name='contentTime']").val() == "") {
				M.toast({
					html: '영상시간은 필수입력 입니다.',
					displayLength: 2000
				});
				$("input[name='contentTime']").focus();
				return false;
			}
		});
		
		Dropzone.autoDiscover = false;
		
		var cf_ext_file = 'zip|rar|doc|hwp|pdf|ppt|xls|pptx|docx|xlsx|txt|psd|pptm';
		var cf_ext_image = 'gif|jpg|jpeg|png|bmp';
		var cf_ext_multimedia = 'asx|asf|wmv|wma|mpg|mpeg|mov|avi|swf|mp4';
		var cf_file_cnt = '5';
		
		String.prototype.replaceAll = function(org, dest) {
			return this.split(org).join(dest);
		}
		
		$(".file-dropzone").on('dragover', handleDragEnter);
		$(".file-dropzone").on('dragleave', handleDragLeave);
		$(".file-dropzone").on('drop', handleDragLeave);
		
		
		function handleDragEnter(e) {
			this.classList.add('drag-over');
		}

		function handleDragLeave(e) {
			this.classList.remove('drag-over');
		}
		
	   
		var c = 0; 
		var d = 0; 
		var e = 0;
		
		var previewNode = document.querySelector("#template");
		previewNode.id = "";
		var previewTemplate = previewNode.parentNode.innerHTML;
		previewNode.parentNode.removeChild(previewNode);
		
		console.log($("input[name='_csrf']").val());
		var ddd= $("input[name='_csrf']").val();
		console.log(ddd);
		
		$('#fileDropzone').dropzone({
			url : '/admin/lms/vod/content/file_save?_csrf='+ddd,
			uploadMultiple : true,
			maxFilesize : 1073741824,
			thumbnailWidth: 180,
		    thumbnailHeight: 120,
			parallelUploads : 5,
			autoProcessQueue: false,
			paramName:"fileSaveName",
			previewsContainer: "#previews", // Define the container to 
			maxFiles : 1,
			addRemoveLinks : true,
			acceptedFiles: '.'+cf_ext_multimedia.replaceAll("|", ",."),
			beforeSend: function(xhr) {
				xhr.setRequestHeader("X-CSRF-TOKEN", $("input[name='_csrf']", $('#frmForm')).val());
				xhr.setRequestHeader("_csrf", $("input[name='_csrf']", $('#frmForm')).val());
			},
			success: function(data, xhr) {
				if(xhr.data.fail == 1){
					M.toast({
						html: '파일 확장자를 확인해주세요.',
						classes: 'red darken-2',
						displayLength: 2000
					});
					return false;
				}else if(xhr.data.fail == 2){
					M.toast({
						html: '파일 크기를 확인해주세요.',
						classes: 'red darken-2',
						displayLength: 2000
					});
					return false;
				}
				myDropzone = this;
				c++;
				if (c == $('#upload_count').val()) { //성공 메시지 출력 후 이동
					c = 0;
					M.toast({
						html: '정상적으로 처리되었습니다.',
						displayLength: 2000
					});
					$('#dataTable').DataTable().ajax.reload(dataTableInit, false);
			        $('.sidenav').sidenav('close');
				}			
			},
			accept: function(file, done) {
			    done();
				myDropzone = this;
				var myDropzone = this;
				var i = 0;
				//파일 중복검사
				for(var j = 0; j < myDropzone.files.length; j++){
					if(file.name == myDropzone.files[j].name){
						i++;
						if(i > 1){
							alert(''+myDropzone.files[j].name+'는 중복파일이름입니다. 이름을 바꿔서 등록해주시기바랍니다.');
							myDropzone.removeFile(myDropzone.files[j]);
							myDropzone.files.splice(j, 1);
						}
					}
				}
				//최대 갯수제한 경고창
				if(onlyNumber(myDropzone.files.length)-1 >= onlyNumber(cf_file_cnt)){
					d++;
					if( d == 1){
						alert('최대 : ' + cf_file_cnt +'개까지 업로드가 가능합니다.');
					}
					myDropzone.removeFile(file);

				}
			},
			init : function() {
				myDropzone = this;
				_this = this;
				
				//파일이 추가 될 때
				//파일 확장자, 용량 검사
				this.on("addedfile", function(file) {
					var acceptCheck = 0;
					myDropzone.options.acceptedFiles.split(',').forEach(function(idx){
						if(file.name.indexOf(idx) > 0){
							acceptCheck = 1;
						}
					});
					if(acceptCheck == 0){
						alert('파일 확장자를 확인해주세요.');
						myDropzone.removeFile(file);
					}else if(myDropzone.options.maxFilesize < file.size){
						alert('파일 크기를 확인해주세요.');
						myDropzone.removeFile(file);
					}
				});
				
				var submitButton = document.querySelector('#btn-upload-file');
					submitButton.addEventListener("click", function(){
					$('#upload_count').val(myDropzone.files.length);
					$('#frmForm').ajaxForm({
				        dataType: 'json',
				        beforeSend: function(xhr) {
							xhr.setRequestHeader("X-CSRF-TOKEN", $("input[name='_csrf']", $('#frmForm')).val());
							xhr.setRequestHeader("_csrf", $("input[name='_csrf']", $('#frmForm')).val());
						},
				        success: function(response) {
				        	if($("#contentIdx").val() == ""){
				        		$("#contentIdx").val(response.data.contentVo.contentIdx);
				        	}
				            if (response.status == 200) { //성공 메시지 출력 후 이동
				            	myDropzone.processQueue(); //업로드
								myDropzone.removeAllFiles(); //업로드한 파일 목록에서 제거
								if (0 == $('#upload_count').val()) {
									M.toast({
										html: '정상적으로 처리되었습니다.',
										displayLength: 2000
									});
									$('#dataTable').DataTable().ajax.reload(dataTableInit, false);
							        $('.sidenav').sidenav('close');
								}

				            } else if (response.status == 402) {
				                $.each(response.message, function(k, v) {
				                    $('#' + k).focus();
				                    return false;
				                });
				            } else {
				            	 alert('네트워크 및 시스템 에러');   
				            }
				        },
				        error: function(result, status, error) {
				            alert('네트워크 및 시스템 에러');
				        },
				    });
				});
				var data = '';
				//값 넘길때 form값 처리
				this.on("sending", function(file, xhr, formData) {
					e++; //값을 한번 처리
					if(e == 1){
						$.each( $('#frmForm').serializeArray(), function(key, val){
							formData.append(val['name'], val['value']);
						});
					}
	              });

			   //최대 갯수제한 파일제거
			   this.on("maxfilesexceeded", function (file) {
					myDropzone = this;
					var myDropzone = this;
					var count = myDropzone.options.maxFiles;
					myDropzone.removeFile(file);
				});

				//삭제할때 처리
				this.on("removedfile", function (file) {
					var d = 0;
				}); 
				 this.on("complete", function (file) {
					myDropzone = this;
					var myDropzone = this;
					myDropzone.removeFile(file);
				});
			  },
		});
		
	});
</script>
</html>


