<style>
.content_order3 {    display: inline-block;
    background: #5998d3;
    color: #fff;
    padding: 0px 6px;
    position: relative;
    left: 26px;
    top: -5px;}
.content_order2 {  display: inline-block;
    background:red;
    color: #fff;
    padding: 9px 6px;
    position: relative;
    left: 26px;
    top: -5px;}

.dd-handle_A:before {background: url(/assets/img/poll_chk_A.png) left center no-repeat; content:'　'; height: 21px; left:4px;}
.dd-handle_B:before {background: left center no-repeat; content:'　'; height: 21px; left:4px;}
.dd-handle_C:before {background: url(/assets/img/poll_chk_C.png) left center no-repeat; content:'　'; height: 21px; left:4px;}
.dd-handle_D:before {background: url(/assets/img/poll_chk_D.png) left center no-repeat; content:'　'; height: 21px; left:4px;}
.dd-handle_E:before {background: url(/assets/img/poll_chk_E.png) left center no-repeat; content:'　'; height: 27px; top:5px;}
.dd-handle_F:before {background: url(/assets/img/poll_chk_F.png) left center no-repeat; content:'　'; height: 28px; top:5px;}

.dd-handle_A { width: 60px;}
.dd-handle_B { width: 60px;}
.dd-handle_C { width: 60px;}
.dd-handle_D { width: 60px;}
.dd-handle_E { width: 60px;}
.dd-handle_F { width: 60px;}

</style>
<ol class="dd-list" >

	<li class="dd-item nested-list-item" th:each="list, i : ${list}" th:attr="data-id=${list?.contentIdx}">
		<div class='dd-handle nested-list-handle dd-handle_B'>
			<span class='content_order3'>[[${i.count}]]</span>
		</div>
		
		<div class="nested-list-content">
			<form style="display: inline-block; width: calc(100% - 120px); margin-left:25px;" th:id="|frm_vod_detail_form_${i.index+1}|" name="frm_search_form" method="post" enctype="multipart/form-data" action="/admin/lms/vod/content/contentChange">
				<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
				<input type="hidden" name="type" value="chage" >
				<input type="hidden" name="contentIdx" th:value="${list?.contentIdx}" >
					<div class="left">[[${list?.contentTitle}]]</div> 
					<div class="right">[[${list?.contentFileOrigin}]]</div> 
			</form>
			<div class="pull-right">
				<a th:if="${list?.contentFileOrigin != null}" th:href="|/admin/lms/vod/content/download?fileOrigin=${list?.contentFileOrigin}&fileName=${list?.contentFileName}|" style="padding: 0 5px;">다운로드</a> 
				<a href="#" th:onclick="contentDelete([[${list.contentIdx}]]); return false;" style="padding: 0 5px;background:#EF5350 !important; border: 0 none;">삭제</a>
			</div>
		</div>	
		
		
	</li>
</ol>

<script th:inline="javascript">
	$(function() {
		total = /*[[${#lists.size(list)}]]*/;
		for(i = 1; i <= total; i++){
			$('#frm_vod_detail_form_'+i).ajaxForm({
				dataType: 'json',
				success: function(response) {
				  toast('수정완료',3000)
				},
				error: function(result, status, error) {
				  toast('네트워크 및 시스템 에러', 3000);
				},
			});
		}
	});
</script>
