<html lang="ko" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	layout:decorate="~{|${siteLayoutPath}|}">
<th:block layout:fragment="content">

<link href="/assets/css/board.css" type="text/css" rel="stylesheet">

<link href="/assets/css/jquery-confirm.min.css" type="text/css" rel="stylesheet">
<script src="/assets/js/jquery-confirm.min.js"></script>

<link href="/assets/libs/jquery-ui/jquery-ui.min.css" type="text/css" rel="stylesheet">
<script src="/assets/libs/jquery-ui/jquery-ui.js"></script>

<script src="/assets/libs/jquery-form/jquery.form.min.js"></script>

<th:block th:if="${#strings.equals(boardVo.boardUseEditor, 'y')}">
<script src="/assets/editor/ckeditor/ckeditor.js"></script>
<script src="/assets/editor/ckeditor/config.js"></script>
</th:block>

<link rel="stylesheet" href="/assets/css/dropzone.css">
<link rel="stylesheet" href="/assets/css/dropzone.ext.css">
<script src="/assets/js/dropzone.js"></script>

<style>
.bbs_file_del2 { float: left;
	width: 100%;
	margin-bottom: 10px;
} 
.bbs_file_del2:last-child{margin-bottom:0;}
.bbs_file_del2 label { }
.bbs_file_del2 a { }
.bbs_file {
	float: left;
	width: 100%;
} 
.bbs_file_item {
	height: auto;
	overflow: hidden;
	display: inline-block;
	width: 100%;
}
input:disabled {
	background: #eee;
	display: none;
}
#fileDropzone {
	border: 1px dashed #676767;
	display: flex;
	align-items: center;
	text-align: center;
	transition:ease-in-out .25s;
}
#fileDropzone:hover{background:#181818;}
#fileDropzone .dz-message {margin: 0 auto;}
#fileDropzone .dz-message span {position:relative; color: #999; font-weight: bold; font-size: 16px;}
#fileDropzone .dz-message span:before{
	content: '';
	display: inline-block;
	width: 15px;
	height: 15px;
	background: url(/pages/kepco/img/sub/file-ico.png) center no-repeat;
	top: 3px;
	position: relative;
	margin-right: 7px;
	opacity: 0.9;
}
	
/* Mimic table appearance */
div.table {
	display: table;
}
div.table .file-row {
	display: table-row;
}
div.table .file-row > div {
	display: table-cell;
	vertical-align: top;
	border-top: 1px solid #ddd;
	padding: 8px;
}
div.table .file-row:nth-child(odd) {
	background: #f9f9f9;
}



/* The total progress gets shown by event listeners */
#total-progress {
	opacity: 0;
	transition: opacity 0.3s linear;
}

/* Hide the progress bar when finished */
#previews .file-row.dz-success .progress {
	opacity: 0;
	transition: opacity 0.3s linear;
}

/* Hide the delete button initially */
#previews .file-row .delete {
	display: none;
}

/* Hide the start and cancel buttons and show the delete button */

#previews .file-row.dz-success .start,
#previews .file-row.dz-success .cancel {
	display: none;
}
#previews .file-row.dz-success .delete {
	display: block;
} 



div.table .file-row > div {
	display: table-cell;
	vertical-align: top;
	border-top: 1px solid #ddd;
	padding: 8px;
}

.progress {
	height: 20px;
	margin-bottom: 20px;
	overflow: hidden;
	background-color: #f5f5f5;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
	box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
}
</style>

<form id="bbs_form" method="post" enctype="multipart/form-data" action="/cms/board/post/save">
	<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
	
	<input type="hidden" name="boardId" th:value="${boardVo.boardId}" />
	<!--/* 첨부파일 가능여부 */-->
	<input type="hidden" id="boardUseUpload" th:value="${boardVo.boardUseUpload}" />
	<!--/* 첨부파일 등록수 */-->
	<input type="hidden" id="boardUploadCount" th:value="${boardVo.boardUploadCount}">
	<!--/* 게시물 추가/수정/답변으로 받은 신규 게시물ID */-->
	<input type="hidden" id="newPostIdx" value="" />
	
	<!--/* 쓰기,수정 */-->
	<th:block th:if="!${#strings.equals(req?.cmd, 'reply')}">
		<input type="hidden" name="postIdx" th:value="${postVo?.postIdx}" />
	</th:block>
	
	<!--/* 답변 */-->
	<th:block th:if="${#strings.equals(req?.cmd, 'reply')}">
		<input type="hidden" name="cmd" value="reply" />
		<input type="hidden" name="postIdx" th:value=${postOriginalVo?.postIdx}>
	</th:block>
	
	
	

<div class="sub-container">
	<div id="board_write">
		<table>
			<tbody>
				<!--/* 관리자 AND 답변이 아님 AND 게시판 공지 사용여부 */-->
				<th:block th:if="${boardPermission.isBoardAdmin && !#strings.equals(req?.cmd, 'reply') && #strings.equals(boardVo.boardUsePriority, 'y')}">
				<tr>
					<th scope="row"><label for="notice_chk2">공지</label></th>
					<td>
						<input id="postNotice" name="postNotice" value="1" type="checkbox" class="check_type" title="공지여부" th:checked="${postVo?.postNotice > 0}" />
						
						<span id="bsNoticeDate" th:style="${postVo?.postNotice > 0 ? 'display:block' : 'display:none'}">
							<label for="postNoticeSdate"></label>
							<input name="postNoticeSdate" id="postNoticeSdate" value="" type="date" title="시작일" placeholder="시작일" class="input_type" autocomplete="off" th:value="${postVo?.postNoticeSdate}" /> ~
							<label for="postNoticeEdate"></label>
							<input name="postNoticeEdate" id="postNoticeEdate" value="" type="date" title="종료일" placeholder="종료일" class="input_type" autocomplete="off" th:value="${postVo?.postNoticeEdate}" />
						</span>
						
						<p class="f_alert">체크시 게시물 최상단에 우선 노출 됩니다.</p>
					</td>
				</tr>
				</th:block>
				
				<!--/* 답변이 아님 AND 게시판 비밀글 사용여부 */-->
				<th:block th:if="${!#strings.equals(req?.cmd, 'reply') && #strings.equals(boardVo.boardUseSecret, 'y')}">
				<tr>
					<th scope="row"><label for="bs_secret_label">비밀글</label></th>
					<td>
						<div class="input_box checkbox">
							<input id="bs_secret_label" name="postSecret"  type="checkbox" class="check_type" title="비밀글 여부" value="y" th:if="${#strings.equals(postVo?.postSecret, 'y')}" checked />
							<input id="bs_secret_label" name="postSecret"  type="checkbox" class="check_type" title="비밀글 여부" value="y" th:if="!${#strings.equals(postVo?.postSecret, 'y')}" />
						
							<label for="bs_secret_label">
								<span class="design"></span>
								<span class="text">체크시 비밀글로 등록되어 본인과 관리자외에는 조회할 수 없습니다.</span>
							</label>
						</div>
					</td>
				</tr>
				</th:block>
				
				<!--/* 카테고리. 비활성 */-->
				<!--/*
				<th:block th:if="${#strings.equals(boardVo.boardUseCate, 'y')}">
				<tr>
					<th scope="row"><label for="bs_category_label">카테고리 <span class="star">*</span></label></th>
					<td>
						<select id="bs_category_label" name="postCategory" class="input_type" style="color: #fff; background: #262626;  border: 0 none;  padding: 0 0 0 15px;  height: 56px; width:100px;">
							<option value="">선택</option>
							<th:block th:each="catevo : ${catevo}">
								<th:block th:if="${postVo?.postCategory}">
									<option th:selected="${#strings.equals(postVo?.postCategory, catevo?.categoryValue)}" th:value="${catevo?.categoryValue}">[[${catevo?.categoryValue}]]</option>
								</th:block>
							</th:block>
						</select>
					</td>
				</tr>
				</th:block>
				*/-->
				
				<tr>
					<th scope="row"><label for="bs_writer_name_label">작성자 <span class="star">*</span></label></th>
					<td>
						<div class="input_box text">
							<input id="bs_writer_name_label" name="postName" th:value="${postVo.postName}" type="text" title="작성자" class="input_type" >
						</div>
					</td>
				</tr>
				
				<!--/* 비밀번호. 비활성 */-->
				<!--/*
				<tr>
					<th scope="row"><label for="post_password_label">비밀번호 <span class="star">*</span><label></th>
					<td>
						<div class="input_box text">
							<input id="post_password_label" name="post_password" value="" type="password" size="20" title="비밀번호" class="input_type" autocomplete="off" />
						</div>
						<span class="f_alert ">수정,삭제시 확인 목적으로 사용됩니다.</span>
					</td>
				</tr>
				*/-->
				
				<!--/* 관리자 AND 답변이 아님 AND 게시판 등록일직접입력 사용여부 */-->
				<th:block th:if="${boardPermission.isBoardAdmin && !#strings.equals(req?.cmd, 'reply') && #strings.equals(boardVo.boardUseInsertDate, 'y')}">
				<tr>
					<th scope="row"><label for="post_datetime_label">등록일</label></th>
					<td>
						<div class="input_box date">
							<input type='date' id="post_datetime_label" name="postDate" class="input_type" th:value="${#dates.format(postVo?.insertDate, 'yyyy-MM-dd')}" title="등록일자" autocomplete="off" />
						</div>
						<span class="f_alert ">공란으로 입력시 현재일자로 저장됩니다.</span>
					</td>
				</tr>
				</th:block>
				
				<!--/* 답변인 경우 접두사 넣기 */-->
				<tr>
					<th scope="row"><label for="post_title_label">제목<span class="star">*</span></label></th>
					<td>
						<div class="input_box text w-100per">
							<input id="post_title_label" style="width:100%;" name="postTitle" th:value="${#strings.equals(req?.cmd, 'reply')} ? '답변 : '+${postOriginalVo?.postTitle} : ${postVo?.postTitle}" type="text" title="제목" class="input_type wfull_95" />
						</div>
					</td>
				</tr>
				<tr>
					<th scope="row">내용<span class="star">*</span></th>
					<td>
						<label for="post_content_type_label"></label>
						
						<!--/* 웹에디터 사용시 */-->
						<th:block th:if="${#strings.equals(boardVo.boardUseEditor, 'y')}">
							<th:block th:if="${#strings.equals(req?.cmd, 'reply')}">
								<textarea name="postContent" class="ckEditor" id="postContent" title="내용" ><br /><br /><hr>[[${postOriginalVo?.postContent}]]</textarea>
							</th:block>
							
							<th:block th:if="!${#strings.equals(req?.cmd, 'reply')}">
								<textarea name="postContent" class="ckEditor" id="postContent" title="내용" >[[${postVo?.postContent}]]</textarea>
							</th:block>
						</th:block>
						
						<!--/* 웹에디터 미사용시 */-->
						<th:block th:if="!${#strings.equals(boardVo.boardUseEditor, 'y')}">
							<th:block th:if="${#strings.equals(req?.cmd, 'reply')}">
								<textarea name="postContent" style="width: 100%; height: 300px; padding: 5px;"  title="내용" >[[${postOriginalVo?.postContent}]]</textarea>
							</th:block>
							
							<th:block th:if="!${#strings.equals(req?.cmd, 'reply')}">
								<textarea name="postContent" style="width: 100%; height: 300px; padding: 5px;"  title="내용" >[[${postVo?.postContent}]]</textarea>
							</th:block>
						</th:block>
						
					</td>
				</tr>
				
				<!--/* 파일첨부 사용시 */-->
				<th:block th:if="${#strings.equals(boardVo.boardUseUpload, 'y') && boardPermission.upload}">
				<tr>
					<th scope="row"><label for="">파일첨부</label></th>
					<td>
						<div>
							<div class="bbs_file_info">
								<div class="dropzone" id="fileDropzone">
								</div>
								
								<div class="table table-striped files" id="previews">
									<div id="template" class="file-row dz-image-preview">
									</div>
								</div>
								<span class="f_alert ">
									※ 첨부파일은 최대 [[${boardVo.boardUploadSize}]]MB, [[${boardVo.boardUploadCount}]]개까지 등록할 수 있습니다.<br />
									<u>이미지를 포함한 첨부파일은 웹접근성을 고려하여 파일설명이 포함되어야 합니다.</u>
								</span>
							</div>
						</div>
						
						<div th:if="!${#lists.isEmpty(fileVoList)}" id="file_list" class="bbs_file_area">
							<div th:each="fileVo : ${fileVoList}">
								<div class="bbs_file_item" th:classappend="|bbs_item_${fileVo?.fileSort}|">
									<div class="bbs_file_del2">
										<label th:for="|file_del_label_${fileVo?.fileIdx}|">
											<input th:id="|file_del_label_${fileVo?.fileIdx}|" th:value="${fileVo?.fileIdx}" name="fileDel" type="checkbox" class="check_type" title="파일삭제"> 파일삭제
										</label>
										<a href="javascript:void(0)" th:onclick="downloadFile([[${req?.boardId}]], [[${fileVo?.fileIdx}]], [[${downloadYn}]])">[[${fileVo?.fileOriginName}]]</a>
									</div>
								</div>
							</div>
						</div>
					</td>
				</tr>
				</th:block>
			</tbody>
		</table>
	</div>

	<div id="board_btn">
		<div class="fl">
			<input type="button" value="취소" title="취소" class="button_type4" onclick="history.back(); return false;" />
		</div>
		<div class="fr">
			<input type="submit" value="저장" title="저장" class="button_type3 btn_submit" id="btn-upload-file" />
		</div>
	</div>
</form>
</div>
	
<script th:inline="javascript">

Dropzone.autoDiscover = false;

$(function(){
	
	// 첨부파일
	var bbs_max_file_cnt = 5;
	var bbs_max_file_size = 10000;
	
	// 작성일자
// 	$("#bbs_form input[name='postDate']").datepicker();
	
	// 공지사항 적용, 게시기간
	$('#postNotice').click(function(){
		if ($(this).is(":checked")){
			$('#bsNoticeDate').show();
			var today = new Date();
			var year = today.getFullYear();
			var month = ('0' + (today.getMonth() + 1)).slice(-2);
			var day = ('0' + today.getDate()).slice(-2);
			var dateString = year + '-' + month  + '-' + day;

			$('#postNoticeSdate').val(dateString);

			
		}else{
			$('#bsNoticeDate').hide();
			$('#postNoticeSdate').val('');
			$('#postNoticeEdate').val('');
		}
	});
	
	// 웹에디터 사용시 활성화
	if(CKEDITOR !== undefined) {
		CKEDITOR.replace('postContent');
	}
	
	// 첨부파일(dropzone) 초기화
	fileDropzoneInit();
	
	$('#bbs_form').ajaxForm({
		dataType: 'json',
		beforeSerialize: function($form, options) {
			if($("input[name='postTitle']", $form).val() == "") {
				alert("제목은 필수입력 입니다.");
				$("input[name='postTitle']", $form).focus();
				return false;
			}
			
			if($("input[name='postName']", $form).val() == "") {
				alert("작성자는 필수입력 입니다.");
				$("input[name='postName']", $form).focus();
				return false;
			}
			
			// 에디터 내용(첨부파일) 처리. beforeSubmit() 에서는 폼데이터를 조작할 수 없다.
			if(!setPostContent()) {
				return false;
			}
			if($("[name='postContent']", $form).val() == "") {
				alert("내용은 필수입력 입니다.");
				$("[name='postContent']", $form).focus();
				return false;
			}
			
		},
		beforeSubmit: function(arr, $form, options) {
			
		},
		success: function(response) {
			if (response.code == 0) { //성공 메시지 출력 후 이동
				$('#newPostIdx').val(response.data.postIdx);
				
				// 첨부파일 처리
				var myDropzone = Dropzone.forElement("#fileDropzone");
				if(myDropzone && myDropzone.getActiveFiles().length > 0) {
					myDropzone.processQueue();
					myDropzone.removeAllFiles();
					// queuecomplete 이벤트에서 리디렉션 처리
				}
				else {
					alert('저장되었습니다.');
					var boardId = /*[[${boardVo.boardId}]]*/ 0;
					var mn = /*[[${req.mn}]]*/ 0;
					var site = /*[[${req.site}]]*/ 0;
					location.href="/cms/board/post/list/?site="+site+"&mn="+mn+"&boardId="+boardId;
				}
				
			
			}
			else {
				alert(`[${response.code}] 요청을 처리할 수 없습니다.`);
			}
		},
		error: function(result, status, error) {
			if(result.responseJSON.data.message !== undefined) {
				alert(result.responseJSON.data.message);
			}
			else {
				alert(`요청을 처리할 수 없습니다.`);
				console.log(result);
			}
			
		},
	});
});

// BASE64 to BLOB. 에디터 내 삽입된 이미지를 폼데이터로 전송 목적
function b64toBlob(b64Data, contentType, sliceSize) {
	contentType = contentType || '';
	sliceSize = sliceSize || 512;

	var byteCharacters = atob(b64Data);
	var byteArrays = [];

	for (var offset = 0; offset < byteCharacters.length; offset += sliceSize) {
		var slice = byteCharacters.slice(offset, offset + sliceSize);

		var byteNumbers = new Array(slice.length);
		for (var i = 0; i < slice.length; i++) {
			byteNumbers[i] = slice.charCodeAt(i);
		}

		var byteArray = new Uint8Array(byteNumbers);

		byteArrays.push(byteArray);
	}

	var blob = new Blob(byteArrays, {type: contentType});
	return blob;
}

function setPostContent() {
	
	// 웹에디터 사용여부
	if (CKEDITOR === undefined) {
		return true;
	}
	
	if (CKEDITOR.instances.postContent === undefined) {
		// 사실상 진입 불가능
		return false;
	}
	
	// 웹에디터의 내용
	var content = CKEDITOR.instances.postContent.getData();
	$("#postContent").val(content);
	
	return true;
	
	// 웹에디터에 첨부된 이미지 업로드
	var form = document.createElement('form');
	form.name = 'newForm';
	form.method = 'post';
	form.target = '_blank';
	var fd = new FormData(form);
	var data = CKEDITOR.instances.postContent.getData();
	var old_src = [];
	var regexp = /<img[^>]+src\s*=\s*['"]([^'"]+)['"][^>]*>/g;
	var src = data.match(regexp);
	
	if(src != null){
		var img_tmp = document.createElement('div');
		for(var i = 0; i < src.length; i++){
			img_tmp.innerHTML = src;
		}
		
		for(var i = 0; i < $(img_tmp).find('img').length; i++){
			var getSrcAndBase64DatePattern = /data:image(.*);base64,/;
			var ImageURL = $($(img_tmp).find('img')[i]).attr('src');
			var tmp = getSrcAndBase64DatePattern.exec(ImageURL);
			if(!tmp) {
				continue;
			}
			old_src.push(ImageURL);
			var block = ImageURL.split(";");
			var contentType = block[0].split(":")[1];
			var realData = block[1].split(",")[1];
			var blob = b64toBlob(realData, contentType);
			fd.append("image", blob);
		}
		
		if(old_src.length > 0){
			$.ajax({
				url:"/cms/common/editorSave?file_url="+encodeURIComponent(window.location.href),
				data: fd,
				type:"POST",
				contentType:false,
				processData:false,
				cache:false,
				async: false,
				dataType:"json",
				beforeSend : function(xhr){
					xhr.setRequestHeader(header, token);
				},
				error:function(err){
					console.error(err);
				},
				success:function(file){
					for(var i = 0; i < old_src.length; i++){
						data = data.replace(old_src[i],file.data.list[i]['fileSrc']);
					}
				},
			});
			CKEDITOR.instances.postContent.setData(data);
		}
	}
	
	// 웹에디터의 내용
	var content = CKEDITOR.instances.postContent.getData();
	$("#postContent").val(content);
	
	return true;
}

function fileDropzoneInit() {
	// 첨부파일(드롭존) 설정
	
	$(".file-dropzone").on('dragover', function(e) {
		this.classList.add('drag-over');
	});
	$(".file-dropzone").on('dragleave, drop', function(e) {
		this.classList.remove('drag-over');
	});
	
	// 첨부파일 허용 확장자(.jpg,.png,...)
	var boardUploadFileExt = `[[${boardUploadFileExt}]]`;
	boardUploadFileExt = ".jpg,.png,.gif,.zip,.pdf,.hwp,.hwpx,.docx,.xlsx,.pptx";
	// 첨부파일 용량(MB)
	var boardUploadSize = `[[${boardVo.boardUploadSize}]]`;
	// 첨부파일 갯수
	var boardUploadCount = `[[${boardVo.boardUploadCount}]]`;
	var boardThumbWidth = `[[${boardVo.boardThumbWidth}]]`;
	var boardThumbHeight = `[[${boardVo.boardThumbHeight}]]`;
	
	
	$('#fileDropzone').dropzone({
		url : '/cms/board/post/fileSave',
		uploadMultiple : true,
		maxFilesize : boardUploadSize * 1024 * 1024,
		thumbnailWidth: boardThumbWidth,
		thumbnailHeight: boardThumbHeight,
		parallelUploads : 10,
		autoProcessQueue: false,
		paramName:"uploadFile",
		previewsContainer: "#previews",
		maxFiles : boardUploadCount,
		addRemoveLinks : true,
		acceptedFiles: boardUploadFileExt,
		success: function(data) {
			console.log(data);
		},
		accept: function(file, done) {
			console.log("accept : "+file.name);
			done();
		},
		init : function() {
			myDropzone = this;
			//_this = this;
			this.on("addedfile", function (file) {
				console.log("addedfile : "+file.name);
				
				let isAllowFileExt = false;
				myDropzone.options.acceptedFiles.split(',').forEach(function (val) {
					if(file.name.toLowerCase().endsWith(val)) {
						isAllowFileExt = true;
						return;
					}
				});
				if(!isAllowFileExt) {
					alert('등록할 수 없는 파일 확장자 입니다.');
					myDropzone.removeFile(file);
					return;
				}
				
				if (myDropzone.options.maxFilesize < file.size) {
					alert('최대 '+(myDropzone.options.maxFilesize/1024/1024)+'MB까지 업로드 가능합니다.');
					myDropzone.removeFile(file);
					return;
				}
				
				for(var j = 0; j < myDropzone.files.length - 1; j++){
					if(file.name == myDropzone.files[j].name){
						alert(file.name+'\n동일한 파일명이 이미 등록되어 있습니다.');
						myDropzone.removeFile(myDropzone.files[j]);
						return;
					}
				}
				
				let alreadyUploadCount = $("[name='fileDel']", "#bbs_form").length;
				
				if(myDropzone.files.length + alreadyUploadCount > myDropzone.options.maxFiles){
					alert('최대 ' + myDropzone.options.maxFiles +'개까지 업로드 가능합니다.');
					myDropzone.removeFile(file);
				}
			});
			
			this.on("sending", function(file, xhr, formData) {
				console.log("sending : "+file.name);
				if(!formData.has("postIdx")) {
					formData.append("postIdx", $("[id='newPostIdx']","#bbs_form").val());
					var csrfToken = /*[[${_csrf.parameterName}]]*/ "";
					formData.append(csrfToken, $("[name='"+csrfToken+"']","#bbs_form").val());
				}
			});
			
			//최대 갯수제한 파일제거
			this.on("maxfilesexceeded", function (file) {
				console.log("maxfilesexceeded : "+file.name);
				var count = myDropzone.options.maxFiles;
				myDropzone.removeFile(file);
			});
			
			// 파일 삭제
			this.on("removedfile", function (file) {
				console.log("removedfile : "+file.name);
			});
			
			// 성공
			this.on("complete", function (file) {
				console.log("complete : "+file.name);
				myDropzone.removeFile(file);
			});
			// 에러
			this.on('error', function (file, errorMessage) {
				console.log("error : "+file.name+"/"+errorMessage);
			});
			// 큐 처리(파일업로드) 완료
			this.on('queuecomplete', function() {
				if(this.getActiveFiles().length == 0) {
					alert('저장되었습니다.');
					var boardId = /*[[${boardVo.boardId}]]*/ 0;
					var mn = /*[[${req.mn}]]*/ 0;
					var site = /*[[${req.site}]]*/ 0;
					location.href="/cms/board/post/list/?site="+site+"&mn="+mn+"&boardId="+boardId;
				}
			});
		},
	});
}

function downloadFile(boardId, fileIdx, downloadYn) {
	console.log(boardId, fileIdx, downloadYn)
	if(downloadYn != true){
		alert("다운로드 권한이 없습니다.");
		return;
	}
	const url = `/cms/board/download?boardId=${boardId}&fileIdx=${fileIdx}`;
	window.open(url, '_blank');
}

</script>
</th:block>
