<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kepco.lms.edu.process.play.ProcessPlayMapper">

	<sql id="selectWhere">
		<where>
			<choose>
				<when test="_parameter.containsKey(scDeleteYn)">AND delete_yn = #{scDeleteYn}</when>
				<otherwise>AND a.delete_yn = 'n'</otherwise>
			</choose>
			<if test="!@kepco.util.StrUtil@isBlank(playIdx)">
				AND a.play_idx = #{playIdx}
			</if>
			<if test="!@kepco.util.StrUtil@isBlank(modulePlayIdx)">
				AND a.module_play_idx = #{modulePlayIdx}
			</if>
			<if test="!@kepco.util.StrUtil@isBlank(successYn)">
				AND a.success_yn = #{successYn}
			</if>
		</where>
	</sql>
	
	<select id="selectList" parameterType="map" resultType="kepco.lms.edu.process.play.ProcessPlayVo">
		SELECT a.*, d.*, c.work_role
		FROM lms_edu_process_play a
		LEFT JOIN lms_edu_module_play b
		ON a.module_play_idx = b.module_play_idx
		LEFT JOIN lms_edu_play c
		ON b.play_idx = c.play_idx
		LEFT JOIN lms_edu_process d
		ON a.task_id = d.task_id
			<include refid="selectWhere"/>
	</select>
	
	<select id="select" parameterType="map" resultType="kepco.lms.edu.process.play.ProcessPlayVo">
		SELECT a.*, d.*, c.work_role
		FROM lms_edu_process_play a
		LEFT JOIN lms_edu_module_play b
		ON a.module_play_idx = b.module_play_idx
		LEFT JOIN lms_edu_play c
		ON b.play_idx = c.play_idx
		LEFT JOIN lms_edu_process d
		ON a.task_id = d.task_id
		WHERE process_play_idx = #{processPlayIdx}
	</select>
	
	<select id="count" parameterType="map" resultType="int">
		SELECT COUNT(*)
		FROM lms_edu_process_play a
			<include refid="selectWhere"/>
	</select>
	
	<insert id="processStart" parameterType="kepco.lms.edu.process.play.ProcessPlayVo" useGeneratedKeys="true" keyProperty="processPlayIdx" keyColumn="processPlayIdx">
		INSERT INTO lms_edu_process_play (
			play_idx, module_play_idx, task_id, step,
			process_start_time
		)
		VALUES (
			#{playIdx}, #{modulePlayIdx}, #{taskId}, #{step},
			#{processStartTime}
		)
	</insert>
	
	<update id="processEnd" parameterType="kepco.lms.edu.process.play.ProcessPlayVo">
		UPDATE lms_edu_process_play
		<set>
			success_yn = #{successYn},
			c1 = #{c1},
			c2 = #{c2},
			c3 = #{c3},
			c4 = #{c4},
			c5 = #{c5},
			weather = #{weather},
			process_end_time = #{processEndTime}
		</set>
		WHERE
			delete_yn = 'n'
			AND process_play_idx = #{processPlayIdx}
	</update>
	
	<select id="teamProcessPlays" parameterType="map" resultType="kepco.lms.edu.process.play.ProcessPlayVo">
		SELECT a.*, c.work_role, d.process_contents
		FROM lms_edu_process_play a
		LEFT JOIN lms_edu_module_play b
		ON a.module_play_idx = b.module_play_idx
		LEFT JOIN lms_edu_play c
		ON b.play_idx = c.play_idx
		LEFT JOIN lms_edu_process d
		ON a.task_id = d.task_id
			<include refid="selectWhere"/>
			<if test="!@kepco.util.StrUtil@isBlank(moduleCd)">
				AND b.module_cd = #{moduleCd}
			</if>
			<if test="!@kepco.util.StrUtil@isBlank(attempt)">
				AND b.attempt = #{attempt}
			</if>
			<if test="!@kepco.util.StrUtil@isBlank(team)">
				AND c.team = #{team}
			</if>
			<if test="!@kepco.util.StrUtil@isBlank(detailIdx)">
				AND c.detail_idx = #{detailIdx}
			</if>
			<if test="!@kepco.util.StrUtil@isBlank(step)">
				AND a.step = #{step}
			</if>
	</select>
	
	<select id="stepCount" parameterType="map" resultType="int">
		SELECT COUNT(DISTINCT step)
		FROM lms_edu_process
		WHERE
		task_id LIKE CONCAT ('%',#{moduleCd},'%')
	</select>
	
<!-- 	<select id="playStepCount" parameterType="map" resultType="int"> -->
<!-- 		SELECT COUNT(step) -->
<!-- 		FROM lms_edu_process_play a -->
<!-- 		LEFT JOIN lms_edu_module_play b -->
<!-- 		ON a.module_play_idx = b.module_play_idx -->
<!-- 		LEFT JOIN lms_edu_play c -->
<!-- 		ON b.play_idx = c.play_idx -->
<!-- 		WHERE a.delete_yn = 'n' -->
<!-- 			<if test="!@kepco.util.StrUtil@isBlank(moduleCd)"> -->
<!-- 				AND b.module_cd = #{moduleCd} -->
<!-- 			</if> -->
<!-- 			<if test="!@kepco.util.StrUtil@isBlank(attempt)"> -->
<!-- 				AND b.attempt = #{attempt} -->
<!-- 			</if> -->
<!-- 			<if test="!@kepco.util.StrUtil@isBlank(playTeamIdx)"> -->
<!-- 				AND c.play_team_idx = #{playTeamIdx} -->
<!-- 			</if> -->
<!-- 			<if test="!@kepco.util.StrUtil@isBlank(step)"> -->
<!-- 				AND a.step = #{step} -->
<!-- 			</if> -->
<!-- 	</select> -->
	
	<select id="processEventList" parameterType="map" resultType="kepco.lms.edu.process.play.ProcessPlayVo">
		SELECT combined_table.*
		FROM (
			SELECT a.process_play_idx, a.play_idx, a.module_play_idx, NULL AS event_idx, a.task_id, a.success_yn, 
		    		NULL AS event_id, NULL AS accident_yn, c.work_role, d.process_contents, d.task_tool, d.step,
		            NULL AS risk_factor, NULL AS risk_level, NULL AS risk_value1, NULL AS risk_value2,
		            NULL AS accident_code, NULL AS event_location,
		            NULL AS accident_behavior, NULL AS accident_type, NULL AS accident_cause,
		            
		            a.c1, a.c2, a.c3, a.c4, a.c5, a.weather, 
		            a.process_start_time AS date, a.process_start_time, NULL AS event_start_time, a.process_end_time, NULL AS event_end_time,
		            
		            TIMESTAMPDIFF(SECOND, h.module_start_time, a.process_start_time) AS process_timing,
		            NULL AS event_timing,
		            
		            (SELECT COUNT(aa.step)
						FROM lms_edu_process_play aa
						LEFT JOIN lms_edu_module_play bb
						ON aa.module_play_idx = bb.module_play_idx
						LEFT JOIN lms_edu_play cc
						ON bb.play_idx = cc.play_idx
						WHERE aa.delete_yn = 'n' 
						AND bb.module_cd = h.module_cd
						AND bb.attempt = h.attempt
						AND cc.play_team_idx = c.play_team_idx
						AND aa.step = a.step
					) AS process_count
					
		    FROM lms_edu_process_play AS a
		    LEFT JOIN lms_edu_play c
			ON a.play_idx = c.play_idx
			LEFT JOIN lms_edu_process d
			ON a.task_id = d.task_id
		    LEFT JOIN lms_edu_module_play h
		    ON a.module_play_idx = h.module_play_idx
		       
		    WHERE a.delete_yn = 'n' AND h.module_cd = #{moduleCd} AND h.attempt = #{attempt} AND c.play_team_idx = #{playTeamIdx}
		    <if test="!@kepco.util.StrUtil@isBlank(playIdx)">
				AND c.play_idx = #{playIdx}
			</if>
		    UNION ALL
		    SELECT NULL AS process_play_idx, b.play_idx, b.module_play_idx, b.event_idx, NULL AS task_id, NULL AS success_yn, 
		      		b.event_id, b.accident_yn, c.work_role, NULL AS process_contents, d.task_tool, d.step,
		            b.risk_factor, b.risk_level, b.risk_value1, b.risk_value2,
		            f.accident_code, f.event_location,
		            g.accident_behavior, g.accident_type, g.accident_cause,
		            
		            NULL AS c1, NULL AS c2, NULL AS c3, NULL AS c4, NULL AS c5, NULL AS weather, 
		            b.event_start_time AS date, NULL AS process_start_time, b.event_start_time,  NULL AS process_end_time, b.event_end_time,
		            
		            NULL AS process_timing,
		            TIMESTAMPDIFF(SECOND, h.module_start_time, b.event_start_time) AS event_timing,
		            
		            NULL AS process_count
		    FROM lms_edu_event AS b
		    LEFT JOIN lms_edu_play c
			ON b.play_idx = c.play_idx
		    LEFT JOIN lms_edu_process d
		    ON b.task_id = d.task_id
			LEFT JOIN lms_edu_accident f
			ON b.event_id = f.event_id
			LEFT JOIN lms_edu_accident_content g
			ON f.accident_code = g.accident_code
			LEFT JOIN lms_edu_module_play h
		    ON b.module_play_idx = h.module_play_idx   
		    WHERE b.delete_yn = 'n' AND h.module_cd = #{moduleCd} AND h.attempt = #{attempt} AND c.play_team_idx = #{playTeamIdx}
		    <if test="!@kepco.util.StrUtil@isBlank(playIdx)">
				AND c.play_idx = #{playIdx}
			</if>
		) AS combined_table
		ORDER BY step ASC, date ASC, event_idx ASC;
	</select>
	
	<select id="processPlayList" parameterType="map" resultType="kepco.lms.edu.process.play.ProcessPlayVo">
		SELECT a.*, d.*, 
		TIMESTAMPDIFF(SECOND, b.module_start_time, a.process_start_time) AS process_elapsed_start_time,
		TIMESTAMPDIFF(SECOND, b.module_start_time, a.process_end_time) AS process_elapsed_end_time,
		c.work_role
		
		FROM lms_edu_process_play a
		LEFT JOIN lms_edu_module_play b
		ON a.module_play_idx = b.module_play_idx
		LEFT JOIN lms_edu_play c
		ON b.play_idx = c.play_idx
		LEFT JOIN lms_edu_process d
		ON a.task_id = d.task_id
			<include refid="selectWhere"/>
	</select>
	
</mapper>