#login_wrap {
    position: fixed;
    width: 100%;
    height: 100%;
   background-image:linear-gradient(#f8f8f8, #f8f8f8, #fff);
    background-size: cover;
    /* flex-direction: column;
    justify-content: center;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    -webkit-box-flex: 1;
    flex: 1 0 auto; */
    width: 100%;
    min-height: 100%;
    background-size: cover;
	background-color:#f8f8f8;
	
}

#login_title {
    padding: 260px 0 0 80px
}

#login_title dl {
    color: #fff;
    font-weight: 100;
    font-size: 18px;
    line-height: 26px
}

#login_title dt {
    padding-bottom: 18px
}

#login_title p {
    color: #60aab7;
    padding-top: 20px;
    line-height: 20px;
    font-size: 12px
}

#login_box {
    width:1000px;
    height:auto;
    background: #fff; 
    padding:45px 50px 30px 50px;
    text-align: center;
	box-shadow:1px 1px 3px 0px rgba(0,0,0,0.05);
	overflow:hidden;
	margin:180px auto 0
}

#login_box .title {
	float:left;
	width:48%;
	border-right:1px solid #efefef;
    font-weight: 100;
    font-size: 19px;
    line-height: 26px;
	color:#222;
	min-height:350px;
	padding:20px;
}

#login_box .title i {
    color: #777;
    padding-bottom: 20px
}

#login_box .title span {
    font-size: 13px;
    font-weight: normal;
	display:block;
	line-height:24px;
	color:#666
}

#login_box .form_box {
	width:45%;
	margin-left:40px;
    padding:40px 0 20px 0;
    float:left;
    position: relative;
	

}

#login_box .login_sinfo {
    position: relative;
    width: 100%;
    margin-bottom: 10px
}

#login_box p.login_logo {
    padding-top:100px
}

#login_box .login_sinfo a.btn_pass {
    position: absolute;
    bottom: 5px;
    right: 0;
    letter-spacing: -.02em;
    text-decoration: underline
}

#login_box .login_sinfo2 {
    width: 100%;
    text-align: center
}

#login_box .login_sinfo2 button {
    margin-left: 5px
}

#login_box .btn_login {
    margin-top: 30px;
    clear: both;
    display: block;
    width: inherit;
    line-height: 45px;
    height: 45px;
}
#login_box .login_top_title{
	font-weight:500;
	font-size:20px;
	padding:12px 0
}
#login_box .login_txt{
	font-size:30px
}

